In [1]:
from yfinance import download

In [2]:
symbols = {'AMZN': 'USD', 
           'BT-A.L': 'GBP', 
           'ULVR.L': 'GBP', 
           'MTS.MC': 'EUR', 
           'MSFT': 'USD'}

tickers = list(symbols.keys())

In [3]:
data = download(tickers, auto_adjust=True)

[*********************100%***********************]  5 of 5 completed

In [4]:
quotes = data['Close']['2020':]
quotes

                   AMZN      BT-A.L        MSFT     MTS.MC       ULVR.L
Date
2020-01-02  1898.010010  196.059998  158.571075  15.842000  4167.220703
2020-01-03  1874.969971  193.699997  156.596588  15.282000  4176.807129
2020-01-06  1902.880005  193.240005  157.001373  15.004000  4145.651855
2020-01-07  1906.859985  192.080002  155.569855  15.054000  4110.181641
2020-01-08  1891.969971  195.899994  158.047836  15.240000  4064.645752
...                 ...         ...         ...        ...          ...
2021-04-05  3226.729980         NaN  249.070007        NaN          NaN
2021-04-06  3223.820068  152.649994  247.860001  24.780001  4088.500000
2021-04-07  3279.389893  156.399994  249.899994  24.434999  4133.500000
2021-04-08  3299.300049  155.199997  253.250000  24.375000  4166.000000
2021-04-09  3372.199951  153.500000  255.850006  24.445000  4131.000000

[328 rows x 5 columns]

In [5]:
currency = ['EURUSD=X', 'EURGBP=X']
data_currency = download(currency, auto_adjust=True)

[*********************100%***********************]  2 of 2 completed

In [6]:
quotes_currency = data_currency['Close'].reindex(quotes.index).ffill()
quotes_currency.columns = quotes_currency.columns.str[3:6]
quotes_currency['EUR'] = 1
quotes_currency

                GBP       USD  EUR
Date
2020-01-02  0.84657  1.122083    1
2020-01-03  0.84950  1.117144    1
2020-01-06  0.85329  1.116196    1
2020-01-07  0.84998  1.119799    1
2020-01-08  0.85053  1.115474    1
...             ...       ...  ...
2021-04-05  0.85070  1.176817    1
2021-04-06  0.84931  1.181893    1
2021-04-07  0.85870  1.187423    1
2021-04-08  0.86400  1.187366    1
2021-04-09  0.86739  1.191568    1

[328 rows x 3 columns]

In [7]:
quotes_currency_data = quotes_currency.reindex([symbols[f] for f in quotes.columns], axis=1)
quotes_currency_data.columns = quotes.columns
quotes_currency_data

                AMZN   BT-A.L      MSFT  MTS.MC   ULVR.L
Date
2020-01-02  1.122083  0.84657  1.122083       1  0.84657
2020-01-03  1.117144  0.84950  1.117144       1  0.84950
2020-01-06  1.116196  0.85329  1.116196       1  0.85329
2020-01-07  1.119799  0.84998  1.119799       1  0.84998
2020-01-08  1.115474  0.85053  1.115474       1  0.85053
...              ...      ...       ...     ...      ...
2021-04-05  1.176817  0.85070  1.176817       1  0.85070
2021-04-06  1.181893  0.84931  1.181893       1  0.84931
2021-04-07  1.187423  0.85870  1.187423       1  0.85870
2021-04-08  1.187366  0.86400  1.187366       1  0.86400
2021-04-09  1.191568  0.86739  1.191568       1  0.86739

[328 rows x 5 columns]

In [8]:
quotes_eur = quotes.div(quotes_currency_data)
quotes_eur

                   AMZN      BT-A.L        MSFT     MTS.MC       ULVR.L
Date
2020-01-02  1691.506512  231.593364  141.318542  15.842000  4922.476144
2020-01-03  1678.360525  228.016477  140.175862  15.282000  4916.782962
2020-01-06  1704.790147  226.464626  140.657526  15.004000  4858.432363
2020-01-07  1702.858408  225.981791  138.926527  15.054000  4835.621611
2020-01-08  1696.113219  230.326958  141.686723  15.240000  4778.956200
...                 ...         ...         ...        ...          ...
2021-04-05  2741.913822         NaN  211.647240        NaN          NaN
2021-04-06  2727.673987  179.734134  209.714333  24.780001  4813.907869
2021-04-07  2761.770866  182.135784  210.455769  24.434999  4813.671956
2021-04-08  2778.670351  179.629621  213.287138  24.375000  4821.759134
2021-04-09  2830.051288  176.967689  214.716995  24.445000  4762.563679

[328 rows x 5 columns]