#### https://github.com/bfolkens/py-market-profile/blob/master/examples/example.ipynb

In [1]:
from market_profile import MarketProfile
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.pylab as pylb

%matplotlib inline
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('^DJI.csv', parse_dates=True, index_col='Date',
                usecols=['Date', 'Open', 'High',
                         'Low', 'Close','Volume']).dropna()

In [3]:
df = df.tail(900)

In [4]:
len(df)

900

In [5]:
from market_profile import MarketProfile

i = 25 # Dias a calcular POC
poc_values = []
mp = MarketProfile(df, tick_size=1)

for i in range(len(df)) :   
    poc = mp[df.index[i-25]:df.index[i]].poc_price
    i = i+1
    poc_values.append(poc)
    
df['POC'] = np.NaN
df.iloc[(len(df) - len(poc_values)):,-1:] = poc_values

df = df.dropna()

In [6]:
df

,Open,High,Low,Close,Volume,POC
Date,,,,,,
2015-04-07,17884.320313,17983.119141,17871.210938,17875.419922,72150000,18128
2015-04-08,17877.619141,17976.199219,17822.230469,17902.509766,76820000,18128
2015-04-09,17902.509766,17984.220703,17823.099609,17958.730469,86740000,18128
2015-04-10,17956.730469,18066.759766,17945.550781,18057.650391,116410000,18128
2015-04-13,18052.320313,18107.570313,17974.810547,17977.039063,120090000,18128
2015-04-14,17979.109375,18075.599609,17905.480469,18036.699219,82830000,18128
2015-04-15,18045.710938,18160.519531,18045.710938,18112.609375,113610000,18128
2015-04-16,18106.269531,18169.259766,18063.859375,18105.769531,89520000,18128
2015-04-17,18102.560547,18102.560547,17748.529297,17826.300781,138860000,18128
2015-04-20,17841.179688,18092.220703,17841.179688,18034.929688,103160000,18128
2015-04-21,18034.230469,18109.699219,17929.630859,17949.589844,95180000,18128
2015-04-22,17950.820313,18056.019531,17887.759766,18038.269531,91260000,18128
2015-04-23,18031.900391,18133.029297,17966.769531,18058.689453,100240000,18128
2015-04-24,18056.419922,18108.869141,18009.080078,18080.140625,119130000,18128
2015-04-27,18097.890625,18175.560547,18024.660156,18037.970703,121110000,18128
2015-04-28,18035.900391,18119.650391,17917.359375,18110.140625,124930000,17827
2015-04-29,18093.689453,18096.460938,17953.689453,18035.529297,102080000,17827
2015-04-30,18033.330078,18033.330078,17774.890625,17840.519531,129180000,17827
2015-05-01,17859.269531,18028.890625,17859.269531,18024.060547,91700000,17827
2015-05-04,18026.019531,18133.759766,18026.019531,18070.400391,86010000,17827
2015-05-05,18062.529297,18086.009766,17905.710938,17928.199219,95340000,17827
2015-05-06,17934.810547,18019.750000,17733.119141,17841.980469,100430000,17827
2015-05-07,17840.250000,17973.070313,17796.939453,17924.060547,80920000,17827
2015-05-08,17933.640625,18205.230469,17933.640625,18191.109375,94960000,17827
2015-05-11,18187.779297,18199.949219,18089.109375,18105.169922,86050000,18106
2015-05-12,18096.160156,18119.179688,17924.800781,18068.230469,89270000,18106
2015-05-13,18070.369141,18132.789063,18039.199219,18060.490234,85180000,18106
2015-05-14,18062.490234,18255.210938,18062.490234,18252.240234,91580000,18106
2015-05-15,18251.970703,18272.720703,18215.070313,18272.560547,108220000,18106
2015-05-18,18267.250000,18325.539063,18244.259766,18298.880859,79080000,18106
...,...,...,...,...,...,...
2018-08-13,25327.189453,25381.390625,25153.929688,25187.699219,219990000,25065
2018-08-14,25215.689453,25339.509766,25201.869141,25299.919922,219210000,25065
2018-08-15,25235.369141,25235.369141,24965.769531,25162.410156,295810000,25065
2018-08-16,25294.970703,25607.339844,25294.970703,25558.730469,342430000,25065
2018-08-17,25550.800781,25728.160156,25521.660156,25669.320313,284160000,25065
2018-08-20,25727.699219,25790.169922,25716.410156,25758.689453,248570000,25065
2018-08-21,25786.990234,25888.820313,25784.900391,25822.289063,241620000,25416
2018-08-22,25825.060547,25836.160156,25722.429688,25733.599609,200480000,25416
2018-08-23,25714.859375,25762.560547,25608.019531,25656.980469,213270000,25416
2018-08-24,25688.580078,25826.050781,25688.580078,25790.349609,200330000,25416
2018-08-27,25882.710938,26067.570313,25882.710938,26049.640625,220510000,25416
2018-08-28,26092.699219,26122.240234,26037.849609,26064.019531,211470000,25416
2018-08-29,26082.529297,26167.939453,26035.300781,26124.570313,214960000,25416
2018-08-30,26099.009766,26104.369141,25934.800781,25986.919922,240440000,25416
2018-08-31,25964.849609,26028.830078,25879.769531,25964.820313,273440000,25416
2018-09-04,25916.070313,25971.769531,25805.949219,25952.480469,254600000,25416
2018-09-05,25919.839844,26011.220703,25871.039063,25974.990234,289210000,25416
2018-09-06,25973.019531,26073.679688,25880.839844,25995.869141,262380000,25559
2018-09-07,25951.019531,26002.990234,25818.390625,25916.539063,281350000,25559
2018-09-10,25991.910156,26039.960938,25854.130859,25857.070313,252170000,25559
2018-09-11,25841.140625,26019.919922,25754.320313,25971.060547,265960000,25559
2018-09-12,25989.070313,26145.720703,25929.429688,25998.919922,282770000,25559
2018-09-13,26083.939453,26191.640625,26067.080078,26145.990234,260800000,25559
2018-09-14,26169.560547,26211.109375,26068.289063,26154.669922,228640000,25559
2018-09-17,26151.660156,26184.470703,26030.349609,26062.119141,230230000,25559
2018-09-18,26076.210938,26317.339844,26076.210938,26246.960938,243000000,25559
2018-09-19,26287.839844,26464.410156,26280.759766,26405.759766,251330000,25559
2018-09-20,26519.390625,26697.490234,26519.390625,26656.980469,260480000,25559
2018-09-21,26726.250000,26769.160156,26680.369141,26743.500000,657620000,26744
2018-09-24,26705.250000,26709.939453,26548.679688,26562.050781,254854178,26744