# Redistribución de columnas

Dados los siguentes datos, se busca crear un resultado dónde se sustituya el nombre de las columnas su nombre asociado.

In [1]:
import pandas as pd

df1 = pd.DataFrame([
    {'Date': '26/11/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '03/12/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '10/12/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '17/12/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '24/12/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '31/12/2021', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '07/01/2022', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'},
    {'Date': '14/01/2022', 'SS1': 'ss1x', 'SS2': 'ss2x', 'SS3': 'ss3x', 'SS4': 'ss4x', 'SS5': 'ss5x', 'SS6': 'ss6x', 'SS7': 'ss7x'}
    ]).set_index('Date')
 
df2 = pd.DataFrame([
    {'Col': 'A', 'Map': 'SS1'},
    {'Col': 'B', 'Map': 'SS3'},
    {'Col': 'C', 'Map': 'SS4'},
    {'Col': 'D', 'Map': 'SS7'},
    {'Col': 'E', 'Map': 'SS1'},
    {'Col': 'F', 'Map': 'SS6'},
    {'Col': 'G', 'Map': 'SS5'},
    {'Col': 'H', 'Map': 'SS1'},
    {'Col': 'I', 'Map': 'SS5'},
    {'Col': 'J', 'Map': 'SS2'}])
df1

             SS1   SS2   SS3   SS4   SS5   SS6   SS7
Date
26/11/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
03/12/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
10/12/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
17/12/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
24/12/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
31/12/2021  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
07/01/2022  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x
14/01/2022  ss1x  ss2x  ss3x  ss4x  ss5x  ss6x  ss7x

In [2]:
df2

  Col  Map
0   A  SS1
1   B  SS3
2   C  SS4
3   D  SS7
4   E  SS1
5   F  SS6
6   G  SS5
7   H  SS1
8   I  SS5
9   J  SS2

# Soluciones

## Diego D. @CrApHeR

In [3]:
# No vectorizada
df_Resultado = df2.apply(lambda x: df1[x['Map']], axis=1).T
df_Resultado.columns = list(df2.Col)
df_Resultado

               A     B     C     D     E     F     G     H     I     J
Date
26/11/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
03/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
10/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
17/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
24/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
31/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
07/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
14/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x

In [4]:
# Vectorizada
df_Resultado = df1[list(df2['Map'])]
df_Resultado.columns = list(df2.Col)
df_Resultado

               A     B     C     D     E     F     G     H     I     J
Date
26/11/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
03/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
10/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
17/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
24/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
31/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
07/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
14/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x

## Paduel @paduel

Utilizar Series en df2 en lugar de DataFrame. De forma general para Pandas, no useis dataframe cuando realmente solo teneis una columna, usad Series, a menos que haya un buen motivo para ello.

Es un caso interesante, pues no se puede usar ni reindex ni rename, pues la repitición de columnas haría que eliminara esas duplicadas.

Nota:
.squeeze() pasa un dataframe a serie si es posible
.to_frame(col) pasa una serie a dataframe, con el nombre de columna que se pase como parametro col

In [5]:
df2 = pd.Series({'A': 'SS1',
                 'B': 'SS3',
                 'C': 'SS4',
                 'D': 'SS7',
                 'E': 'SS1',
                 'F': 'SS6',
                 'G': 'SS5',
                 'H': 'SS1',
                 'I': 'SS5',
                 'J': 'SS2'})

df3 = df1[df2]
df3.columns = df2.index
df3

               A     B     C     D     E     F     G     H     I     J
Date
26/11/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
03/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
10/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
17/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
24/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
31/12/2021  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
07/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x
14/01/2022  ss1x  ss3x  ss4x  ss7x  ss1x  ss6x  ss5x  ss1x  ss5x  ss2x