In [1]:
import pandas as pd

# Mini reto 001

### Ordenar las subseries de forma descendente

La finalidad es ordenar de forma descendente las subseries 1..n que hay en la serie.

Output solicitado:

[6,5,4,3,2,1,4,3,2,1,5,4,3,2,1,2,1,9,8,7,6,5,4,3,2,1]

In [2]:
serie = pd.Series([1,2,3,4,5,6,1,2,3,4,1,2,3,4,5,1,2,1,2,3,4,5,6,7,8,9])
serie

0     1
1     2
2     3
3     4
4     5
5     6
6     1
7     2
8     3
9     4
10    1
11    2
12    3
13    4
14    5
15    1
16    2
17    1
18    2
19    3
20    4
21    5
22    6
23    7
24    8
25    9
dtype: int64

### Solucion

In [3]:
serie.groupby((serie != (serie.shift() + 1)).cumsum()).nlargest(9).reset_index(drop=True)

0     6
1     5
2     4
3     3
4     2
5     1
6     4
7     3
8     2
9     1
10    5
11    4
12    3
13    2
14    1
15    2
16    1
17    9
18    8
19    7
20    6
21    5
22    4
23    3
24    2
25    1
dtype: int64

### Explicacion

Se buscan los puntos de corte donde van a cambiar los grupos

In [4]:
(serie != (serie.shift() + 1))

0      True
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
dtype: bool

Con el cumsum() se hace la suma acumulada de lo anterior (False lo toma como 0 y True como 1) lo que genera como se van a distribuir los grupos

In [5]:
(serie != (serie.shift() + 1)).cumsum()

0     1
1     1
2     1
3     1
4     1
5     1
6     2
7     2
8     2
9     2
10    3
11    3
12    3
13    3
14    3
15    4
16    4
17    5
18    5
19    5
20    5
21    5
22    5
23    5
24    5
25    5
dtype: int64

Se generan los grupos

In [6]:
groups = serie.groupby((serie != (serie.shift() + 1)).cumsum())
for group in groups:
    print(group)

(1, 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64)
(2, 6    1
7    2
8    3
9    4
dtype: int64)
(3, 10    1
11    2
12    3
13    4
14    5
dtype: int64)
(4, 15    1
16    2
dtype: int64)
(5, 17    1
18    2
19    3
20    4
21    5
22    6
23    7
24    8
25    9
dtype: int64)

Se realiza el ordenamiento inverso usando nlargest. 

El 9 es el parametro de la cantidad de elementos a retornar. En este caso aplica Seria el top 9 de lo elementos mas grandes.

In [7]:
serie.groupby((serie != (serie.shift() + 1)).cumsum()).nlargest(9)

1  5     6
   4     5
   3     4
   2     3
   1     2
   0     1
2  9     4
   8     3
   7     2
   6     1
3  14    5
   13    4
   12    3
   11    2
   10    1
4  16    2
   15    1
5  25    9
   24    8
   23    7
   22    6
   21    5
   20    4
   19    3
   18    2
   17    1
dtype: int64

Se limpian los indices para que quede el array ordenado.

In [8]:
serie.groupby((serie != (serie.shift() + 1)).cumsum()).nlargest(9).reset_index(drop=True)

0     6
1     5
2     4
3     3
4     2
5     1
6     4
7     3
8     2
9     1
10    5
11    4
12    3
13    2
14    1
15    2
16    1
17    9
18    8
19    7
20    6
21    5
22    4
23    3
24    2
25    1
dtype: int64